<h1><%= @place["name"] %></h1>

<h2>My Entries</h2>

<div class = "row">
<% for entry in @entries %>
<div class = "col-md-4 col-sm-6">
  <h3><%= entry["title"] %></h3>
  <% if entry.uploaded_image.attached? %>
    <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid">
  <% else %>
    <img src="<%= entry["image"] %>" class="img-fluid">
  <% end %>
  <h4><%= entry["occurred_on"] %></h4>
  <p><%= entry["description"] %></p>
</div>
<% end %>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-primary">New Entry</a>
</p>

<p>
  <a href="/places" class="btn btn-primary">Back to All Places</a>
</p>
</div>